@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 1% 99%;
    --foreground: 210 13% 10%;
    --card: 240 1% 99%;
    --card-foreground: 210 13% 10%;
    --popover: 240 1% 99%;
    --popover-foreground: 210 13% 10%;
    --primary: 203 100% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 10% 40%;
    --secondary-foreground: 210 13% 10%;
    --muted: 210 10% 90%;
    --muted-foreground: 210 10% 30%;
    --accent: 228 8% 95%;
    --accent-foreground: 210 5% 20%;
    --destructive: 0 79% 73%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 10% 90%;
    --input: 210 10% 90%;
    --ring: 210 50% 90%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 1% 99%;
    --foreground: 210 13% 10%;
    --card: 240 1% 99%;
    --card-foreground: 210 13% 10%;
    --popover: 240 1% 99%;
    --popover-foreground: 210 13% 10%;
    --primary: 203 100% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 10% 40%;
    --secondary-foreground: 210 13% 10%;
    --muted: 210 10% 90%;
    --muted-foreground: 210 10% 30%;
    --accent: 228 8% 95%;
    --accent-foreground: 210 5% 20%;
    --destructive: 0 79% 73%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 10% 90%;
    --input: 210 10% 90%;
    --ring: 210 50% 90%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
